<div id="login-container">
	<h3 id="titulo-login">Iniciar Sesión</h3>
	<form action="" class="formulario">
		<input type="text" placeholder="Username" class="form-control">
		<input type="password" placeholder="Password" class="form-control">
		<button id="btn-login" class="btn btn-primary">INICIAR SESIÓN</button>
	</form>
</div>
